docker.enabled = true
docker.registry = 'quay.io'

params {
  input = "${projectDir}/assets/genomes/test/pipelines/*.yml"
  outdir = "results"
  publish_dir_mode = 'copy'

  igenomes_base = 's3://ngi-igenomes/igenomes'

  // Config options
  config_profile_name        = null
  config_profile_description = null
  custom_config_version      = 'master'
  custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
  config_profile_contact     = null
  config_profile_url         = null
}

profiles {
  test { includeConfig 'conf/test.config' }
  cloud {
    params.input = "${projectDir}/assets/genomes/homo_sapiens/**/*.yml"
  }
}

process {
  publishDir = [
    path: { "${params.outdir}/${workflow.sessionId}/${meta.species}/${meta.source}/${meta.id}" },
    mode: params.publish_dir_mode,
    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
  ]
}

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

plugins {
  id 'nf-schema@2.0.0'
}
