docker.enabled = true
docker.registry = 'quay.io'

params {
  input = "${projectDir}/assets/genomes/test/pipelines/*.yml"
  outdir = "results"
  publish_dir_mode = 'copy'

  igenomes_base = 's3://ngi-igenomes/igenomes'
}

profiles {
  test { includeConfig 'conf/test.config' }
  cloud {
    params.input = "${projectDir}/assets/genomes/homo_sapiens/**/*.yml"
  }
}

process {
  publishDir = [
    path: { "${params.outdir}/${workflow.sessionId}/${meta.species}/${meta.source}/${meta.id}" },
    mode: params.publish_dir_mode,
    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
  ]
}

plugins {
  id 'nf-schema@2.0.0'
}
