docker.enabled = true
docker.registry = 'quay.io'

params {
  input = "${projectDir}/assets/test.csv"
  output = "results"
  publish_dir_mode = 'copy'

  igenomes_base = 's3://ngi-igenomes/igenomes'
}

profiles {
  cloud {
    params.input = "${projectDir}/assets/genomes.csv"
    process {
      publishDir = [
        path: { "${params.outdir}/${workflow.revision}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
    }
  }
}


process {
  publishDir = [
    path: { "${params.outdir}/${workflow.commitId}" },
    mode: params.publish_dir_mode,
    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
  ]
}

plugins {
  id 'nf-validation'
}
