/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'BUILD_INTERVALS' {
        ext.when   = { meta.run_intervals }
        ext.args   = { "-v FS='\t' -v OFS='\t' '{ print \$1, \"0\", \$2 }'" }
        ext.suffix = { "bed" }
    }
    withName: 'BWAMEM1_INDEX' {
        ext.when   = { meta.run_bwamem1 }
    }
    withName: 'BWAMEM2_INDEX' {
        ext.when   = { meta.run_bwamem2 }
    }
    withName: 'DRAGMAP_HASHTABLE' {
        ext.when   = { meta.run_dragmap }
    }
    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        ext.when   = { meta.run_createsequencedictionary }
    }
    withName: 'MSISENSORPRO_SCAN' {
        ext.when   = { meta.run_msisensorpro }
    }
    withName: 'SAMTOOLS_FAIDX' {
        ext.when   = { meta.run_faidx }
    }
    withName: 'TABIX_BGZIPTABIX' {
        ext.when   = { meta.run_bgziptabix }
    }
    withName: 'TABIX_TABIX' {
        ext.when   = { meta.run_tabix }
    }
}
