process { withName: 'HISAT2_BUILD' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4e/4edf1cfd94406d23f9a32bab4361cfbf770b0e6fdedb1fbc97d966c6074f51f8/data' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/0a/0ac773ba54fb01c7ec8666b1347db8c0c5100a8e8b34e5ee5ee3f92abebd8ee7/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e4/e48aa28aebc881254a499b24c3e1ce77b8df1b85a5432699ed6f72eb17ac7fb5/data' } }
