process { withName: 'HISAT2_BUILD' { container = 'community.wave.seqera.io/library/hisat2:2.2.3--0b83b24baf5a98d0' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { container = 'community.wave.seqera.io/library/hisat2_samtools:2061bdd7bd29b1cd' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--5c84a5000a226ab5' } }
