process { withName: 'HISAT2_BUILD' { container = 'oras://community.wave.seqera.io/library/hisat2:2.2.3--2e8243af13980ed3' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { container = 'oras://community.wave.seqera.io/library/hisat2_samtools:85c43579819c7f9c' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c0468833d65b2f81' } }
