process { withName: 'HISAT2_BUILD' { container = 'community.wave.seqera.io/library/hisat2:2.2.3--2616fa83d3b9d8f8' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { container = 'community.wave.seqera.io/library/hisat2_samtools:a0c9b8ccf8116a89' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--c17fb751507e9dfc' } }
