/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'BOWTIE1_BUILD' {
        ext.when   = { meta.run_bowtie1 }
    }
    withName: 'BOWTIE2_BUILD' {
        ext.when   = { meta.run_bowtie2 }
    }
    withName: 'GFFREAD' {
        ext.args   = '--keep-exon-attrs -F -T'
        ext.when   = { meta.run_gffread }
    }
    withName: 'HISAT2_BUILD' {
        ext.when   = { meta.run_hisat2 }
    }
    withName: 'HISAT2_EXTRACTSPLICESITES' {
        ext.when   = { meta.run_hisat2 }
    }
    withName: 'KALLISTO_INDEX' {
        ext.args   = { params.kallisto_make_unique ? '--make-unique' : '' }
        ext.when   = { meta.run_kallisto }
    }
    withName: 'MAKE_TRANSCRIPTS_FASTA' {
        ext.when   = { meta.run_rsem_make_transcript_fasta }
    }
    withName: 'RSEM_PREPAREREFERENCE_GENOME' {
        ext.args   = '--star'
        ext.when   = { meta.run_rsem }
    }
    withName: 'SALMON_INDEX' {
        ext.when   = { meta.run_salmon }
    }
    withName: 'SAMTOOLS_FAIDX' {
        ext.when   = { meta.run_faidx }
    }
    withName: 'STAR_GENOMEGENERATE' {
        ext.when   = { meta.run_star }
    }
}
